<footer class="footer-container">
  <div class="moving-top">
    <a class="space" href="#tobegin"></a>
  </div>
  <div class="footer-links">
    <nav class="nav-one">
      <ul clas="nav-one-link">
        <li class="link">
          <a href="https://adalab.es/" target="_blank" class="link">articles</a>
        </li>
        <li class="link">
          <a href="https://adalab.es/" target="_blank" class="link">books</a>
        </li>
        <li class="link">
          <a href="https://adalab.es/" target="_blank" class="link">events</a>
        </li>
        <li class="link">
          <a href="https://adalab.es/" target="_blank" class="link">reasons</a>
        </li>
        <li class="link">
          <a href="https://adalab.es/" target="_blank" class="link">tips</a>
        </li>
      </ul>
    </nav>
    <nav class="nav-two">
      <ul clas="nav-two-link">
        <li class="link">
          <a href="https://adalab.es/" target="_blank" class="link">twitter</a>
        </li>
        <li class="link">
          <a href="https://adalab.es/" target="_blank" class="link"
            >instagram</a
          >
        </li>
        <li class="link">
          <a href="https://adalab.es/" target="_blank" class="link"
            >mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <div class="copy-final">
      <small class="copy">&copy;2021</small>
      <small class="final">we ♡ components</small>
    </div>
  </div>
</footer>
