<header class="header-container">
  <div class="menu" id="tobegin">
    <a href="https://adalab.es/" target="_blank"
      ><img src="./assets/images/ico-menu.svg" alt="menu" title="menu"
    /></a>
  </div>
  <div class="photo-introduction">
    <h1 class="title">
      <span class="title-header">anonymous</span>
      <span class="title-header">proxy</span>
    </h1>
    <h2 class="subtitle">In hac habitase platea dictumst.</h2>
  </div>
  <div class="moving-bottom">
    <a class="space" href="#tofinal"></a>
  </div>
</header>
