<main class="main-container">
  <section class="section-one">
    <small class="tip">Insominia Tips</small>
    <article class="article-section-one">
      <h2 class="title-s1">Looking Through A Window</h2>
      <p class="paragraph-s1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
        temporibus officiis doloribus minus nostrum in libero, earum, deserunt
        aperiam, aliquam possimus?
      </p>
      <a class="go" href="https://adalab.es/" target="_blank">Go!</a>
    </article>
  </section>
  <section class="section-two">
    <h2>3 Reasons To Purchase</h2>
    <article>
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </article>
    <article>
      <h3>Curabitur ac erat</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </article>
    <article>
      <h3>Morbi dictum</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </article>
    <a>More reasons</a>
  </section>
</main>
