<main>
  <section class="section-one">
    <small>Insominia Tips</small>
    <article>
      <h2>Looking through a window</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
        temporibus officiis doloribus minus nostrum in libero, earum, deserunt
        aperiam, aliquam possimus? Qui nesciunt impedit magnam mollitia, quis
        voluptatum laboriosam eius!
      </p>
      <a>go!</a>
    </article>
  </section>
  <section class="section-two">
    <h2>3 Reasons To Purchase</h2>
    <article>
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </article>
    <article>
      <h3>Curabitur ac erat</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </article>
    <article>
      <h3>Morbi dictum</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </article>
    <a>More reasons</a>
  </section>
</main>
