<main class="main-container">
  <section class="section-one">
    <small class="tip">Insominia Tips</small>
    <article class="article-section-one">
      <h2 class="title-s1">Looking Through A Window</h2>
      <p class="paragraph-s1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
        temporibus officiis doloribus minus nostrum in libero, earum, deserunt
        aperiam, aliquam possimus?
      </p>
      <a class="go" href="https://adalab.es/" target="_blank">Go!</a>
    </article>
  </section>
  <section class="section-two">
    <div class="wrapper"></div>
      <h2 class=" box item1">3 Reasons To Purchase</h2>
      <article class="box item2">
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </article>
      <article class="box item3">
        <h3>Curabitur ac erat</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </article>
      <article class="box item4">
        <h3>Morbi dictum</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </article>
      <a class="box item5" href="https://adalab.es/" target="_blank">More reasons</a>
    </div>
  </section>
</main>
