// fonts
$fonTextPrincipal: "Roboto Slab";
$fontTextSecond: "Roboto Regular";
$fontButton: "Roboto Medium";

// colors
$colorBackground: #ffffff;
$colorOne: #eff9ff;
$colorSecond: #304268;
$colorButton: #f26002;
$colorTip: #8ccbea;
