.footer-container {
  /*width: 100%;*/
  background-color: $colorSecond;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.moving-top {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $colorBackground;
  background-image: url(../images/ico-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(0, -50%);
  animation: play 5s steps(25) infinite;
}
@keyframes play {
  0% {
    background-color: $colorOne;
    background-position-y: top;
  }
  25% {
    background-color: $colorSecond;
    background-position-y: bottom;
  }
  50% {
    background-color: $colorTip;
    background-position-y: top;
  }
  75% {
    background-color: $colorSecond;
    background-position-y: bottom;
  }
  100% {
    background-color: $colorOne;
    background-position-y: top;
  }
}
.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-one,
.nav-two {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.link {
  font-family: $fontTextSecond;
  color: $colorBackground;
  font-size: 16px;
  list-style: none;
  line-height: 30px;
  text-decoration: none;
}
.link:hover {
  color: $colorButton;
}
.copy-final {
  font-family: $fontTextSecond;
  color: $colorBackground;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.final {
  padding-bottom: 45px;
}

@media all and (min-width: 768px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .copy-final {
    order: 0;
  }
  .nav-one {
    order: 1;
  }
  .nav-two {
    order: 2;
  }
}

@media all and (min-width: 1200px) {
  .footer-container {
    padding-left: 370px;
    padding-right: 370px;
  }
}
