* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.menu {
  background-color: #0271bc;
  width: 44px;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 15px;
}
.menu:hover {
  background-color: #f26002;
}
.title {
  color: #ffffff;
  font-size: 42px;
  line-height: 55px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto Slab";
  padding-bottom: 10px;
}
.title-header {
  display: block;
  text-align: center;
}
.subtitle {
  font-family: "Roboto Regular";
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding-bottom: 45px;
}
.space {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.moving-bottom {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url(../images/ico-scroll-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin-bottom: 53px;
  animation: stop 4s steps(20) infinite;
}
@keyframes stop {
  0% {
    background-position-y: center;
  }
  25% {
    background-position-y: bottom;
  }
  50% {
    background-position-y: center;
  }
  75% {
    background-position-y: bottom;
  }
  100% {
    background-position-y: center;
  }
}

@media all and (min-width: 768px) {
  .title {
    font-size: 80px;
    line-height: 106px;
  }
  .subtitle {
    font-size: 24px;
  }
}

@media all and (min-width: 1200px) {
  .title {
    font-size: 100px;
    line-height: 132px;
  }
}
